.app {
    padding-top: 200px;
    text-align: center;
    min-height: 50vh;
    align-items: center;
    display: flex;
    user-select: none;
    flex-direction: column;
}

.auth-button {
    margin: 0 5px;
}