.app {
    padding-top: 200px;
    text-align: center;
    min-height: 50vh;
    align-items: center;
    display: flex;
    user-select: none;
    flex-direction: column;

    
}

.main {
    border: 5px solid #FF4742;
    width: 400px;
    padding: 50px;
}

.auth-button {
    margin: 0 5px;
    
    background: #FF4742;
    border: 1px solid #FF4742;
    border-radius: 6px;
    box-shadow: rgba(0, 0, 0, 0.1) 1px 2px 4px;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    display: inline-block;
    font-family: nunito,roboto,proxima-nova,"proxima nova",sans-serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 16px;
    min-height: 40px;
    outline: 0;
    padding: 12px 14px;
    text-align: center;
    text-rendering: geometricprecision;
    text-transform: none;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    vertical-align: middle;
}

.auth-button:hover,
.auth-button:active {
  background-color: initial;
  background-position: 0 0;
  color: #FF4742;
}

.auth-button:active {
  opacity: .5;
}

.auth-section {
    border: 3px solid #8C9193;
    padding: 10px;
    margin: 20px;
}

.title {
    font-family: Blippo, fantasy;
    font-size: 5em;
    margin: 20px;
}

.subtitle {
    font-family: Andale Mono, monospace;
}