.tcDesktop {
    width: 1000px;
}
  
.tcMobile {
    width: 410px;
}

.tickets {
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin-top: 10px;
    color: var(--copy);
    background-color: var(--primary);
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px 0;
    color: var(--copy);
    gap: 10px;
}
  
.pagination button {
    background-color: var(--primary);
    color: var(--secondary-content);
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
}
  
.pagination button:disabled {
    background-color: #ccc;
    color: white;
    cursor: not-allowed;
}
  
.pagination span {
    font-size: 14px;
    font-weight: bold;
}

.ticketStatus {
    color: var(--secondary-content);
}