.tcDesktop {
    width: 1000px;
}
  
.tcMobile {
    width: 410px;
}

.tickets {
    background-color: #D9E9E9;
    display: grid;
    flex-wrap: wrap;
    grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
    justify-content: center;
    gap: 20px;
    padding: 20px;
    margin-top: 10px;
}

.pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 15px;
    gap: 10px;
}
  
.pagination button {
    background-color: #007bff;
    color: white;
    border: none;
    padding: 8px 12px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 5px;
}
  
.pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}
  
.pagination span {
    font-size: 14px;
    font-weight: bold;
}