:root {
    --ticketWidth: 150px;
  }

.ticketObject {
    background-color: #F9F9F9;
    min-width: var(--ticketWidth);
    max-width: var(--ticketWidth);
    height: var(--ticketWidth);
    font-size: 12px;
    border-width: 1px;
    border-style: solid;
}
  
.removeTicketButton {
    float: right;
}
  
.ticketProperty {
    width: 100%;
}