#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.appContainer {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  user-select: none;
}

.signoutButton {
  background-color: black;
  color: white;
  padding: 8px 5px;
  outline: none;
}

.sortButtonContainer {
  margin-top: 15px;
}

.sortButton {
  background-color: #FFE0F5;
  outline: none;
  padding: 2px 5px;
  margin-left: 15px;
}

.ticketCollection {
  background-color: #D9E9E9;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(175px, 1fr));
  justify-content: center;
  gap: 20px;
  width: 1000px;
  padding: 20px;
  margin-top: 10px;
}

.react-datepicker__aria-live {
  display: none;
}