#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.container {
  width: 400;
  margin: "0 auto";
  display: "flex";
  flex-direction: "column";
  justify-content: "center";
  padding: 20;
}

.signOutButton {
  float: right;
}

.input {
  border: "none";
  background-color: "#ddd";
  margin-bottom: 10;
  padding: 8;
  font-size: 18;
}

.createButton {
  background-color: black;
  color: white;
  outline: none;
  font-size: 18;
  padding: 12px 5px;
  margin-left: 15px;
}

.sortButtons {
  margin-top: 15px;
}

.sortButton {
  background-color: #FFE0F5;
  outline: none;
  font-size: 18;
  padding: 12px 5px;
  margin-left: 15px;
}

.ticketCollection {
  background-color: #D9E9E9;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  justify-content: center;
  gap: 20px;
  width: 600px;
  padding: 20px;
  margin-top: 20px;
}

.ticket {
  background-color: #F9F9F9;
  width: 100%;
  height: 150px;
}

.removeButton {
  float: right;
}

.ticketName {
  width: 100%;
}

.greetingHeader {
  margin-bottom: 100px;
}

.signOutButton {
  margin-top: 100px;
}